html {
  height: 100%;
  width: 100%;
  font: 16px / 1 sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  width: auto;
  /* Figure out body Height */
  display: flex;
  flex-direction: column;
}

header {
  height: 9.5vh;
  width: auto;
  margin: 0px;
  padding: 0px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 150px;
  font: 1.9vw 'Quicksand', 'Roboto', 'Helvetica Neue',
    'Arial', sans-serif;
  color: white;
  background-color: red;
}

.logo {
  width: auto;
  height: 10vh;
  background-color: white;
  padding-right: 15px;
}

.header-title {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-right: 75px;
}

a {
  font: 3vh 'Quicksand', 'Roboto', 'Helvetica Neue', 'Arial',
    sans-serif;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#hover:hover {
  background-color: #2d8079;
  margin: 0;
  padding: 0 6vh;
}

.button {
  background-color: black;
  margin: 0;
  padding: 0 6vh;
  min-height: 8vh;
  line-height: 8vh;
  display: flex;
  align-items: center;
}

.navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  margin: 0;
}

li {
  list-style: none;
}

.main-content {
  font: 1.6vw 'Quicksand', 'Roboto', 'Helvetica Neue',
    'Arial', sans-serif;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 74.5vh;
}

.main-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.body-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.plant {
  width: 55vw;
  height: auto;
  padding: 0;
  margin: 0;
}

.content {
  padding: 45px;
}

.goal-content {
  font: 1.8vw 'Quicksand', 'Roboto', 'Helvetica Neue',
    'Arial', sans-serif;
  height: auto;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.content-title {
  display: flex;
  justify-content: center;
  font: 2vw 'Quicksand', 'Roboto', 'Helvetica Neue', 'Arial',
    sans-serif;
  padding: 0;
  margin: 0;
}

.blurb {
  font: 1.5vw 'Quicksand', 'Roboto', 'Helvetica Neue',
    'Arial', sans-serif;
}

.left-content {
  font: 2.8vw 'Quicksand', 'Roboto', 'Helvetica Neue',
    'Arial', sans-serif;
  display: flex;
  flex-direction: column;
}

.right-content {
  font: 2.8vw 'Quicksand', 'Roboto', 'Helvetica Neue',
    'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.title {
  display: flex;
  justify-content: center;
  font: 3vw 'Quicksand', 'Roboto', 'Helvetica Neue', 'Arial',
    sans-serif;
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 8vh;
}
