html {
  height: 100%;
  width: 100%;
  font: 16px / 1 sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
}

header {
  margin: 0px;
  padding: 0px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: auto;
  height: 1%;
  /* why isn't logo changing height? */
}

img {
  width: 40px;
}

.navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-content {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.plant {
  width: 45vw;
  height: auto;
}

.content {
  width: 45vw;
  height: auto;
  padding: 0;
  margin: 0;
}

.landing-title {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: black;
  height: 10vh;
}
