html {
  height: 100%;
  width: 100%;
  font: 16px / 1 sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  width: auto;
  /* Figure out body Height */
  display: flex;
  flex-direction: column;
}

header {
  height: 13vh;
  width: auto;
  margin: 0px;
  padding: 0px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  font: 2.2vw 'Quicksand', 'Roboto', 'Helvetica Neue',
    'Arial', sans-serif;
  color: white;
  background-color: red;
}

.logo {
  width: auto;
  height: 13vh;
  background-color: white;
  padding-right: 15px;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

a {
  margin: 0;
  padding: 0;
}

#hover:hover {
  background-color: #2d8079;
  margin: 0;
  padding: 0 4vh;
}

.button {
  font: 4vh 'Quicksand', 'Roboto', 'Helvetica Neue', 'Arial',
    sans-serif;
  color: white;
  background-color: black;
  text-decoration: none;
  margin: 0;
  padding: 0 4vh;
  min-height: 9vh;
  line-height: 9vh;
}

.navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font: 4vh 'Quicksand', 'Roboto', 'Helvetica Neue', 'Arial',
    sans-serif;
  color: white;
  background-color: black;
  margin: 0;
}

.main-content {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 68vh;
}

.plant {
  width: 50vw;
  height: auto;
  padding: 0;
  margin: 0;
}

.content {
  width: 45vw;
  height: auto;
  padding-right: 50px;
  margin-top: 20px;
}

.blurb {
  font: 1.5vw 'Quicksand', 'Roboto', 'Helvetica Neue',
    'Arial', sans-serif;
}

.content-title {
  display: flex;
  justify-content: center;
  font: 2.6vw 'Quicksand', 'Roboto', 'Helvetica Neue',
    'Arial', sans-serif;
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 10vh;
}
